body{background-color: black;
    color: white; 
    font-size: 20pt;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif}
nav{word-spacing: 10;background-color: #e10816;text-align: left;}
a{color: white;}
header{text-align: center; padding-bottom: 0%;}
h1{font-size: 30pt;}

form{background-color: #e10816;}
#img1{};}
#about{float:left}


